.admin-footer {
    background: linear-gradient(180deg, #1a202c 0%, #2d3748 100%);
    padding: 25px 0px;
    margin: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.admin-footer .container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.admin-footer p {
    color: #cbd5e0;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
}


