a
{
     font-family: "Poppins", sans-serif;
     font-size: 14px;
     font-weight: 600;
    color: #353639;
    
}
nav 
{
    padding-top: 30px;
    text-align: center;
}
nav li 
{
    padding: 0px 20px;
}