footer
{
    background-color: #33464f;
    padding: 30px 0px;
    margin: 0;
    width: 100%;
}

footer .container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul li 
{
    display: inline-block;
}
p ,ul 
{
    display: inline;
    color: #fff;
}
.social-icons a
{
    padding: 0px 10px ;
}
.social-icons i 
{
    color: #fff;
}
.links li a 
{
    color: #fff;
    text-decoration: unset;
    padding: 0px 10px;
}